<h3>Ваш пост будет выглядеть так:</h3>

<!-- Красивенький вывод сообщений -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% if messages %}
	{% for message in messages %}
		<div class="alert {{ message.tags }}" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		{{ message }}
		</div>
	{% endfor %}
{% endif %}

<form method="post" action="{% url 'insta_post' %}">
	<label>Описание:</label>
	{% csrf_token %}
	<!--просто текст поста -->
	<input type="text" class="form-control" rows="5" value="{{ text }}" name="caption"/><br>
	<label>Фото:</label>

	<!--приложенные фото -->
	{% for image in images  %}
		<input type="checkbox" value="{{ image }}" name="images">
	{% endfor %}

	{% if images %}
	<!--форма для входа в инсту -->
		<label>Укажите данные от вашего аккаунта Instagram:</label>
		<input type="text"  class="form-control-plaintext" placeholder="Имя пользователя" name="login">
		<input type="password" class="form-control" placeholder="Пароль" name="password">

		<a href="{% url 'insta_post' %}">
			<button type="submit" >Запостить</button>
		</a>
	{% endif %}

</form>


<!-- Здесь цикл с изображениями -->

