
<h3>Выберите поля, текст которых нужно добавить в пост</h3>
<!-- кто-то умный должен сделать из этого цикл. -->
<form action="{% url 'inst_share_preview' %}" method="post">
	{% csrf_token %}
	<input type="checkbox" name ="check" value="Растение: {{ one_plant.title }} &#13;&#10" >
	Наименование: {{ one_plant.title }}
	</input><br>
	<input type="checkbox" name="check" value="Вид: {{ one_plant.category }} &#13;&#10">
	Вид: {{ one_plant.category }}
	</input><br>
	<input type="checkbox" name="check" value="Описание: {{ one_plant.description }} &#13;&#10">
	Описание: {{ one_plant.description }}
	</input><br>
	<input type="checkbox" name="check" value="Было куплено: {{ one_plant.place_of_purchace }}">
	Место покупки: {{ one_plant.place_of_purchace }}
	</input><br>
	<input type="checkbox" name="check" value="{{ one_plant.date_of_purchase }} &#13;&#10">
	Дата покупки :{{ one_plant.date_of_purchase }}
	</input><br>
	<input type="checkbox" name="check" value="Посажено: {{ one_plant.date_of_place }} &#13;&#10">
	Дата посадки: {{ one_plant.date_of_place }}
	</input><br>
	<input type="checkbox" name="check" value= "Дата сбора: {{ one_plant.date_of_collect }} &#13;&#10">
	Дата сбора: {{ one_plant.date_of_collect }}
	</input><br>
	<input type="checkbox" name="check" value= "Последний полив: {{ one_plant.date_of_last_water }}&#13;&#10">
	Дата последнего полива: {{ one_plant.date_of_last_water }}
	</input><br>

	<!-- какой-нибудь цикл с выводом изображений с чекбоксами -->
	<input type="checkbox" name="images" value="{{ one_plant.photo.file}}">
	Изображение: <img src="{{ one_plant.photo.file }}" alt="">
	</input><br>



	<a href="{% url 'inst_share_preview' %}">
		<button type="submit" >Перейти к предпросмотру поста</button>
	</a>
</form>