
<h3>Выберите поля, текст которых нужно добавить в пост</h3>

<input type="checkbox" value=>Наименование: {{ one_plant.title }} </input><br>
<input type="checkbox" value=>Вид: {{ one_plant.category }} </input><br>
<input type="checkbox" value=>Описание: {{ one_plant.description }} </input><br>
<input type="checkbox" value=>Место покупки: {{ one_plant.place_of_purchace }} </input><br>
<input type="checkbox" value=>Дата покупки :{{ one_plant.date_of_purchase }} </input><br>
<input type="checkbox" value=>Дата посадки: {{ one_plant.date_of_place }} </input><br>
<input type="checkbox" value=>Дата сбора: {{ one_plant.date_of_collect }} </input><br>
<input type="checkbox" value=>Дата последнего полива: {{ one_plant.date_of_last_water }} </input><br>
<!-- какой-нибудь цикл с выводом изображений с чекбоксами -->