{% extends 'mainapp/base.html' %}



 {% block title %}

       <title>Вход</title>
{% endblock %}

{% block content %}
<div style="text-align:center">
    <div style="margin:20px 0px 0px 35%;width:400px;height:300px;background-color:#3affbf">
{% if user.is_authenticated %}

Вы уже вошли в систему

{% else %}

      <div>
    {% if form.errors %}
    <div class="text-danger" role="alert">
       Вы ввели неправильное имя пользователя или пароль
    </div>
    {% endif %}
    </div>

<form method="POST">
    {% csrf_token %}
    <br>
  {{ form.as_p }}
       <button class="shine-button">Вход</button>



</form>
</div>
{% endif %}
</div>
{% endblock %}