{% extends 'mainapp/base.html' %}


{% block content %}
<h1 style="margin-left:2%;font-size:50px;color:green">Ваши растения </h1>


<div  class="layer1"><a href="{% url 'add_plant' %}"><button class="shine-button" style="font-size:20px;width:300px">Добавить растение</button></a>
<h3>Показывать только:</h3>
    <select id="filter">
        <option value="Овощи">Овощи</option>
    {% for option in plant_species %}
<option value="{{ species_name }}">{{ species_name }}</option>
        {% endfor %}
</select>
<br><br><br><br>
    И чем-то еще надо заполнить
</div>

    {% if plants %}
<div class="row mb-2" style="margin:0px 20% 0px 15px">
    {% for plant,img in plants %}


    <h2>Категория {{plant.category}}</h2>
    <div class="col-md-10">
          <div class="card flex-md-row mb-4 box-shadow h-md-250" style="height:250px">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark" href="{% url 'plant_detail' plant.pk %}">{{plant.title}}</a>
              </h3>
              <div class="mb-1 text-muted">{{plant.date_of_last_water}}</div>
              <p class="card-text mb-auto truncate-text">{{plant.description}}</p>
            </div>
              <p><a href="{% url 'plant_detail' plant.pk %}"><img class="card-img-right flex-auto d-none d-md-block"  style="width: 200px; height: 250px; margin-left:0px; outline: 4px solid #e4f7ec" src="{{ img.image.url }}" data-holder-rendered="true">
          </a></p>
          </div>
        </div>





    {% endfor %}
       </div>
    {% else %}
<br><br><br><br>
    <h1 style="text-align:center;margin-right:30px">У вас пока что нет растений<br><a href="{% url 'add_plant' %}">Хотите добавить?</a></h1>
<br><br><br>
{% endif %}
{% endblock %}