{% include 'mainapp/_navbar.html' %}

{% block content %}




    <h1>Сегодня нужно полить следующие растения:</h1>

    {% for plant in plants %}

        {% if current_date == plant.date_of_upcoming_water%}

            <p><a href="{{plant.get_absolute_url}}"> {{ plant.title }} </a></p>

        {% endif %}

    {% endfor %}



    <h1>Сегодня нужно собрать следующие растения:</h1>

        {% for plant in plants %}

        {% if current_date == plant.date_of_collect%}

          <p><a href="{{plant.get_absolute_url}}"> {{ plant.title }} </a></p>

        {% endif %}


    {% endfor %}

{% endblock %}