{% include 'mainapp/_navbar.html' %}
<head>
	{% block head_vk_share %}{% endblock %}
</head>


{% block content %}

<p>Наименование - {{ one_plant.title }}</p>
<p>Вид - {{ one_plant.category }}</p>
<p>Описание - {{ one_plant.description }}</p>
<p>Место покупки - {{ one_plant.place_of_purchase }}</p>
<p>Цена - {{ one_plant.price }}</p>
<p>Дата покупки - {{ one_plant.date_of_purchase }}</p>
<p>Дата посадки - {{ one_plant.date_of_plant }}</p>
<p>Дата сбора урожая - {{ one_plant.date_of_collect }}</p>
<p>Дата последнего полива - {{ one_plant.date_of_last_water }}</p>

<!--я  не дизайнер, поэтому просто кнопка-->
<button type="button" onclick="location.href='{% url 'instagram_share_choice' one_plant.id %}'">Поделиться в инсте</button>


	{% block body_vk_share %} {% endblock %}
{% endblock %}
{% include 'mainapp/vk_share.html'%}<!-- Кнопка поделиться в вк. В идеале в нее еще нужно добавить картинку/ссылку -->