<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>

<!-- Умный скрипт от разрабов вк-->
<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>

</head>
<body>
<form action=>

<!-- Какая-то умная кнопка со скриптом от разрабов вк -->
<script type="text/javascript">
	document.write(VK.Share.button({url:'http://mysite.com', title: 'сайтик',image:'https://image.freepik.com/free-icon/jpg-extension_318-1831.jpg'},
		{type: "custom", text: "<img src=\"https://vk.com/images/share_32.png\" width=\"32\" height=\"32\" />"}));
</script>


</body>
</html>


